@font-face {
  font-family: "Inconsolata-bold";
  src: url("./fonts/inconsolata/static/Inconsolata-Bold.ttf");
}

@font-face {
  font-family: "Inconsolata-regular";
  src: url("./fonts/inconsolata/static/Inconsolata-Regular.ttf");
}

@font-face {
  font-family: "Inter-bold";
  src: url("./fonts/inter/static/Inter-Bold.ttf");
}

@font-face {
  font-family: "Inter-regular";
  src: url("./fonts/inter/static/Inter-Regular.ttf");
}

@font-face {
  font-family: "Lora-bold";
  src: url("./fonts/lora/static/Lora-Bold.ttf");
}

@font-face {
  font-family: "Lora-regular";
  src: url("./fonts/lora/static/Lora-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Inconsolata-Regular";
}

body {
  font-size: 16px;
  color: #2d2d2d;
}

button {
  background: inherit;
}

a {
  text-decoration: none;
}

div.brainbook {
  font-family: Lora-Regular;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  min-height: 100vh;
  min-width: 100vw;
}

div.brainbook.serif {
  font-family: "Inconsolata-Regular";
}

div.brainbook.serif * {
  font-family: "Inconsolata-Regular";
}

div.brainbook.san-serif {
  font-family: "Inter-Regular";
}

div.brainbook.san-serif * {
  font-family: "Inter-Regular";
}

div.brainbook.monospace {
  font-family: "Lora-Regular";
}

div.brainbook.monospace * {
  font-family: "Lora-Regular";
}

div.brainbook div.container {
  padding: 1em;
}

div.brainbook div.container nav.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.brainbook div.container nav.nav div.nav-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.brainbook div.container nav.nav div.nav-side button.custom-drop-down {
  margin-right: 1em;
  padding: 8px .5em;
  padding-right: .8em;
  color: inherit;
  background: inherit;
  position: relative;
  width: 120px;
  border-right: 1px solid rgba(125, 125, 125, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.brainbook div.container nav.nav div.nav-side button.custom-drop-down span.current-font {
  margin-right: 10px;
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

div.brainbook div.container nav.nav div.nav-side button.custom-drop-down.dark span.drop-list {
  background-color: #1f1f1f;
  color: whitesmoke;
}

div.brainbook div.container nav.nav div.nav-side button.custom-drop-down.dark span.drop-list button {
  color: whitesmoke;
}

div.brainbook div.container nav.nav div.nav-side button.custom-drop-down.dark span.drop-list button:hover {
  background-color: #050505;
}

div.brainbook div.container nav.nav div.nav-side button.custom-drop-down span.drop-list {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  background: #fff;
  z-index: 20;
}

div.brainbook div.container nav.nav div.nav-side button.custom-drop-down span.drop-list button {
  width: 100%;
  display: block;
  padding: 1em;
  text-align: left;
  font-weight: 550;
}

div.brainbook div.container nav.nav div.nav-side button.custom-drop-down span.drop-list button:hover {
  background: #eee;
}

div.brainbook div.container nav.nav div.nav-side div.theme-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.brainbook div.container nav.nav div.nav-side div.theme-toggle button.toggle-container {
  margin-right: 8px;
}

div.brainbook div.container nav.nav div.nav-side div.theme-toggle button.toggle-container input[type="checkbox"]:checked + label.toggle {
  background: #8f19e8;
}

div.brainbook div.container nav.nav div.nav-side div.theme-toggle button.toggle-container input[type="checkbox"]:checked + label.toggle::after {
  -webkit-transition: all .5s;
  transition: all .5s;
  border-radius: 15px;
  left: calc(100% - (18px + 5px));
}

div.brainbook div.container nav.nav div.nav-side div.theme-toggle button.toggle-container label.toggle {
  display: block;
  position: relative;
  height: 25px;
  width: 60px;
  border-radius: 20px;
  background: #979797;
  -webkit-transition: all .5s;
  transition: all .5s;
}

div.brainbook div.container nav.nav div.nav-side div.theme-toggle button.toggle-container label.toggle::after {
  -webkit-transition: all .5s;
  transition: all .5s;
  content: " ";
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 15px;
  left: 5px;
  z-index: 20;
  background: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

div.brainbook div.container div.input-container {
  padding: 1.5em 0;
}

div.brainbook div.container div.input-container div.input {
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  padding-left: 10px;
  border-radius: 20px;
}

div.brainbook div.container div.input-container div.input form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: inherit;
}

div.brainbook div.container div.input-container div.input form input {
  background-color: inherit;
  font-size: 1em;
  background: inherit;
  width: 100%;
}

div.brainbook div.container main.content div.no-search {
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em 0;
}

div.brainbook div.container main.content div.no-search p {
  padding: 2em 3em;
}

div.brainbook div.container main.content div.content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  padding: 1em 0;
}

div.brainbook div.container main.content div.content-top div.left h1 {
  margin-bottom: 8px;
}

div.brainbook div.container main.content div.content-top div.left p.phonetic {
  color: #8f19e8;
}

div.brainbook div.container main.content div.content-top button.audio:disabled svg g {
  fill: #eee;
}

div.brainbook div.container main.content div.content-top button.audio svg.play-btn {
  width: 60px;
}

div.brainbook div.container main.content div.meaning-container div.meaning {
  padding-top: 1em;
}

div.brainbook div.container main.content div.meaning-container div.meaning h3.part-of-speech {
  margin-bottom: 1em;
}

div.brainbook div.container main.content div.meaning-container div.meaning p.meaning {
  margin-bottom: .8em;
}

div.brainbook div.container main.content div.meaning-container div.meaning ul {
  padding-left: 1em;
}

div.brainbook div.container main.content div.meaning-container div.meaning ul li {
  margin-bottom: 1.5em;
  color: #8f19e8;
}

div.brainbook div.container main.content div.meaning-container div.meaning ul li p.example {
  margin: .5em 0;
  font-size: .9em;
  color: #7d7d7d;
}

div.brainbook div.container main.content div.meaning-container div.meaning ul li span.definition, div.brainbook div.container main.content div.meaning-container div.meaning ul li p.example {
  color: #2d2d2d;
}

div.brainbook div.container div.syn-an {
  padding: 1em 0;
}

div.brainbook div.container div.syn-an div.syn {
  margin-bottom: 1em;
}

div.brainbook div.container div.syn-an div.syn b {
  color: #A445ED;
}

div.brainbook div.container div.sources span a {
  font-size: .8em;
}

div.brainbook.dark-theme {
  background: #050505;
  color: whitesmoke;
}

div.brainbook.dark-theme div.container div.input-container div.input {
  background: #1f1f1f;
}

div.brainbook.dark-theme div.container div.input-container div.input form input {
  color: whitesmoke;
}

div.brainbook.dark-theme div.meaning-container div.meaning {
  padding-top: 1em;
}

div.brainbook.dark-theme div.meaning-container div.meaning h3.part-of-speech {
  margin-bottom: 1em;
}

div.brainbook.dark-theme div.meaning-container div.meaning p.meaning {
  margin-bottom: .8em;
}

div.brainbook.dark-theme div.meaning-container div.meaning ul {
  padding-left: 1em;
}

div.brainbook.dark-theme div.meaning-container div.meaning ul li {
  margin-bottom: 1.5em;
  color: #8f19e8;
}

div.brainbook.dark-theme div.meaning-container div.meaning ul li p.example {
  margin: .5em 0;
  font-size: .9em;
  color: whitesmoke !important;
}

div.brainbook.dark-theme div.meaning-container div.meaning ul li span.definition, div.brainbook.dark-theme div.meaning-container div.meaning ul li p.example {
  color: whitesmoke !important;
}

@media screen and (min-width: 769px) {
  div.brainbook div.container {
    width: 750px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=index.css.map */